{% load static %}
<footer class="footer custom-footer">
    <div class="container text-center">
        <div class="logos">
            <a href="https://libreflix.org/" target="_blank">
                <img src="{% static 'img/libreflix.png' %}" alt="Libreflix">
            </a>
            <a href="https://cesar.school/" target="_blank">
                <img src="{% static 'img/cesar_school.png' %}" alt="Cesar School">
            </a>
        </div>
        <br>
        <p>
            <a href="https://sites.google.com/cesar.school/libresenses/home" target="_blank">LibreSenses</a><br>2023
        </p>
        <a href="https://github.com/pedro-coelho-dr/libresenses" target="_blank">
            <img src="{% static 'img/github-mark-white.png' %}" alt="GitHub" class="max-width-github-logo" >
        </a>
    </div>
</footer>