{% load static %}
<!-- index.html -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <title>libreSenses</title>
    </head>
    <body>
        <header class="container mt-4 mb-4">
            <a href="https://sites.google.com/cesar.school/libresenses/home">
                <img src="{% static "libresenses-nobg.png" %}" alt="Render" class="mw-100">
            </a>
        </header>
        <main class="container">
            {% block content %}
                <h2>Hello World</h2>
                <a href="{% url 'add_film' %}" class="btn btn-primary">Submit Film</a>
            {% endblock %}
        </main>
    </body>
</html>