{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <title>libreSenses</title>
    </head>
    <body>
        <header class="container mt-4 mb-4">
            <a href="https://sites.google.com/cesar.school/libresenses/home">
                <img src="{% static 'libresenses-nobg.png' %}" alt="Render" class="mw-100">
            </a>
        </header>
        <main class="container">
            {% block content %}
            <div class="text-center mb-4">
                <a href="{% url 'submit_film' %}" class="btn btn-primary">Submit Film</a>
            </div>

            <!-- FILMS -->
            <div class="mt-4">
                <h2>Films</h2>
                <ul>
                {% for film in films %}
                    <li>
                        <a href="{% url 'film_profile' film.id %}">{{ film.title }}</a>
                    </li>
                {% empty %}
                    <li>No films available.</li>
                {% endfor %}
                </ul>
            </div>
            {% endblock %}
        </main>
    </body>
</html>